<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Guest Management{% endblock %}</title>
    <link rel="stylesheet" href="{% static "guests/styles.css" %}">
</head>
<body>

    <header>
        <h1>Guest Management System</h1>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <!-- Search form -->
            <form method="GET" action="{% url 'list_guests' %}">
                <input type="text" name="search" placeholder="Search guests..." required>
                <button type="submit">Search</button>
            </form>

            <!-- Add record button -->
            <button onclick="toggleAddRecordModal()">Add Record</button>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>


    <script src="{% static "guests/script.js" %}"></script>
</body>
</html>
