<!DOCTYPE html>
<html lang="en">
    {% load static %}

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Guest Management{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'guests/styles.css' %}">
        <script src="{% static 'guests/script.js' %}"></script>
        <script src="{% static 'guests/htmx.min.js' %}"></script>
    </head>
    
    <body>
        <header class="navbar is-dark">
            <div class="navbar-brand">
                <a class="navbar-item" href="/"><h1 class="title is-3">Guest Management System</h1></a>
            </div>
        </header>
    
        <section class="section">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half">
                        {% block search %}
                        <input type="text" class="input" placeholder="Search by names or KC" name="q" 
                               hx-get="/search/" 
                               hx-trigger="keyup changed delay:500ms" 
                               hx-target="#results">
                        {% endblock %}
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <h1 class="title is-3">Manage Guests</h1>
            <div>
                {% comment %} <button id="show-upload-form" class="button is-primary">Upload CSV</button> {% endcomment %}
                <button id="show-upload-form" class="button is-primary" hx-get="{% url 'open_modal' %}" hx-target="body" hx-swap="beforeend">Upload CSV</button>
                <button id="show-add-form" class="button is-link">Add Guest</button>
            </div>
            <div id="modal-container"></div>
            <!-- Guest List will be rendered dynamically here -->
            <div id="guest-list">
                {% block guest_list %}
                    <!-- This is where the guest list will be loaded. By default, it's empty until it's populated -->
                {% endblock %}
            </div>
        </div>

        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
