{% extends "guests/base.html" %}
{%  load static %}
{% block title %}Guest Management{% endblock %}
{% block content %}
    <div class="container">
        <button id="show-add-form">Add Guest</button>
        <button id="show-upload-form">Upload CSV</button>
        <button onclick="window.location.href='{% url 'list_guests' %}'">View Guests</button>

        <div id="add-form" class="hidden">
            <form id="add-guest-form" method="POST">
                <input type="text" name="first_name" placeholder="First Name" required>
                <input type="text" name="last_name" placeholder="Last Name" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="number" name="number_of_companions" placeholder="Number of Companions">
                <button type="submit">Add Guest</button>
            </form>
        </div>

        <div id="upload-form" class="hidden">
            <form id="upload-csv-form" method="POST" action="{% url 'upload_csv' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="csv_file" accept=".csv" required>
                <button type="submit">Upload CSV</button>
            </form>
        </div>
    </div>

    

{% endblock %}
